
@media screen and (min-width: 300px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

@media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .thumbnail {
        width: 350px;
        height: 250px;
    }
    
    .nav_item {
        &.active {
            background-color: unset;
        }
    }
    
    .navbar {
        &-expand-md {
            flex-flow: row nowrap;
            justify-content: flex-start;

            .navbar-toggler {
                display: none;
            }
            
            .navbar-collapse {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-preferred-size: auto;
                flex-basis: auto;
                justify-content: flex-end;
            }
        }

        &-nav {
            flex-direction: row;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }
    
    }
}

@media screen and (min-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .hero {
        padding: 6rem 3rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 2500px) {
    .container {
        max-width: 2240px;
    }
}
